<ion-app>
  <ion-header>
  </ion-header>
  <ion-content>
    <h1 class="ion-text-center">{{title}}</h1>

    <app-photo-gallery-image *ngIf="defaultImage" [imagePath]="defaultImage.webPath"></app-photo-gallery-image>
    
    <ion-list>
      <ion-item *ngFor="let image of images">
        <app-photo-gallery-image [imagePath]="image.imagePath"></app-photo-gallery-image>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer >
    <ion-button expand="block" (click)="takePicture()">
      <ion-icon name="camera-outline"></ion-icon>&nbsp;Add Photo
    </ion-button>
  </ion-footer>
</ion-app>
