<ion-app>
  <ion-header>
  </ion-header>
  <ion-content>
    <h1 class="ion-text-center">{{title}}</h1>
    <ion-button (click)="logStorageData()">Log Storage</ion-button>
    
    <ion-list>
      <ion-item *ngFor="let image of images">
        <app-photo-gallery-image [imagePath]="image.imagePath"></app-photo-gallery-image>
        <br>
        <ion-label position="stacked">Title</ion-label>
        <ion-input [value]="image.imageTitle"></ion-input>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer >
    <ion-button expand="block" (click)="takePicture()">
      <ion-icon name="camera-outline"></ion-icon>&nbsp;Add Photo
    </ion-button>
  </ion-footer>
</ion-app>
